body{
    
    background-image: url(Sky_background.jpg);
    background-position: no-repeat;
    background-position: center top;   
    background-size: cover;     
    background-attachment: fixed; 
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;

}

.Top {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #020035;
    border-radius: 5px;
    padding: 5px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;

}

.Mask_1 {
    transform: rotate(300deg);
    margin-top: 10px;
}

.Mask_2 {
    transform: rotate(55deg);
    margin-top: 10px;
}

.Title {
    color: #DAA520;
    text-align: center;
    font-size: 30px;

}

.map {
    width: 100%;
    height: 400px;
    margin-bottom: 30px;
    border: 5px solid #DAA520; 
    border-radius: 10px;       
    overflow: hidden; 

}

.map iframe {
        width: 100%;
        height: 100%;
        border: none;.map {
        border: 5px solid #DAA520; 
        border-radius: 10px;      
        overflow: hidden;          
        width: 100%;
        height: 400px;
    }
}

h2 {
    text-align: center;
    color: #020035;
}


.information-boxes {
    background: #e95460;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    text-align: center;
}